.button1 {
    justify-content: center;
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 15px;/*was 1 rem*/
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: rgb(46, 130, 141);
    background-image: linear-gradient(to top left,
                                      rgba(0, 0, 0, .2),
                                      rgba(0, 0, 0, .2) 30%,
                                      rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
                inset -2px -2px 3px rgba(0, 0, 0, .6);
}

.button2 {
    justify-content: left;
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 15px;/*was 1 rem*/
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: rgb(46, 130, 141);
    background-image: linear-gradient(to top left,
                                      rgba(0, 0, 0, .2),
                                      rgba(0, 0, 0, .2) 30%,
                                      rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
                inset -2px -2px 3px rgba(0, 0, 0, .6);
}

.button3 {
    display: block;
    /* justify-content: left; */
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 15px;/*was 1 rem*/
    text-align: left;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: rgb(175, 20, 149);
    background-image: linear-gradient(to top left,
                                      rgba(0, 0, 0, .2),
                                      rgba(0, 0, 0, .2) 30%,
                                      rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
                inset -2px -2px 3px rgba(0, 0, 0, .6);
}


#topleft {
    margin: 5px;
    width: 10vw;
    
    /* margin-right: 80vw; */

    /* float: left; */
}

#topright {
    margin: 5px;
    width: 10vw;
    /* display: flex; */
    /* position:sticky; */
    margin-left: auto;

    
    /* align-items: right; */
    /* float: right; */
    /* margin-left:80%; */
    /* display: inline; */
}

#quizarea {
    /* float: left; */
    /* margin-top: 100px; */
    /* margin-left: auto;
    margin-right: auto;
    width: 50%; */
    padding: 0;
    margin: 0; 
    /* display: flex; */
    width: 100vw;
    height: 50vh;
    justify-content: center;
    align-items: center;
}

#quiz-area-content {
    /* float: left; */
    /* margin-top: 100px; */
    /* margin-left: auto;
    margin-right: auto;
    width: 50%; */
    padding: 0;
    margin: 0; 
    display: block;
    width: 100vw;
    height: 10vh;
    justify-content: center;
    align-items: center;
}